body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

p {
    color: royalblue;
}

header {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

a {
    text-decoration-line: none;
}