body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

p {
    color: royalblue;
}

header {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 30px;
}

a {
    text-decoration-line: none;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav {
    display: flex;
}

.option {
    color: royalblue;
    font-size: 2.5em;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px
}

.current {
    color: red;
    font-size: 2.5em;
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px
}

.nav_link:visited, .nav_link:link {
    color: royalblue
}

.nav_link:hover, .nav_link:active {
    color: blue
}